In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [3]:
tf_pivoted=pd.read_csv("C:/Users/HP/Desktop/TestBDA/data/WDI_FINAL_TRANSFORMED.csv", header=0, index_col=None)

In [4]:
filtered_df = tf_pivoted[(tf_pivoted['Country_Name'] == 'China' )& (tf_pivoted['Indicator_Code'] == 'SP.POP.TOTL')]

In [5]:
filtered_df

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Value
134100,China,CHN,"Population, total",SP.POP.TOTL,1983,1.023310e+09
527248,China,CHN,"Population, total",SP.POP.TOTL,1984,1.036825e+09
920396,China,CHN,"Population, total",SP.POP.TOTL,1985,1.051040e+09
1313544,China,CHN,"Population, total",SP.POP.TOTL,1986,1.066790e+09
1706692,China,CHN,"Population, total",SP.POP.TOTL,1987,1.084035e+09
2099840,China,CHN,"Population, total",SP.POP.TOTL,1988,1.101630e+09
2492988,China,CHN,"Population, total",SP.POP.TOTL,1989,1.118650e+09
2886136,China,CHN,"Population, total",SP.POP.TOTL,1990,1.135185e+09
3279284,China,CHN,"Population, total",SP.POP.TOTL,1991,1.150780e+09
3672432,China,CHN,"Population, total",SP.POP.TOTL,1992,1.164970e+09
4065580,China,CHN,"Population, total",SP.POP.TOTL,1993,1.178440e+09
4458728,China,CHN,"Population, total",SP.POP.TOTL,1994,1.191835e+09
4851876,China,CHN,"Population, total",SP.POP.TOTL,1995,1.204855e+09
5245024,China,CHN,"Population, total",SP.POP.TOTL,1996,1.217550e+09
5638172,China,CHN,"Population, total",SP.POP.TOTL,1997,1.230075e+09
6031320,China,CHN,"Population, total",SP.POP.TOTL,1998,1.241935e+09
6424468,China,CHN,"Population, total",SP.POP.TOTL,1999,1.252735e+09
6817616,China,CHN,"Population, total",SP.POP.TOTL,2000,1.262645e+09
7210764,China,CHN,"Population, total",SP.POP.TOTL,2001,1.271850e+09
7603912,China,CHN,"Population, total",SP.POP.TOTL,2002,1.280400e+09
7997060,China,CHN,"Population, total",SP.POP.TOTL,2003,1.288400e+09
8390208,China,CHN,"Population, total",SP.POP.TOTL,2004,1.296075e+09
8783356,China,CHN,"Population, total",SP.POP.TOTL,2005,1.303720e+09
9176504,China,CHN,"Population, total",SP.POP.TOTL,2006,1.311020e+09
9569652,China,CHN,"Population, total",SP.POP.TOTL,2007,1.317885e+09
9962800,China,CHN,"Population, total",SP.POP.TOTL,2008,1.324655e+09
10355948,China,CHN,"Population, total",SP.POP.TOTL,2009,1.331260e+09
10749096,China,CHN,"Population, total",SP.POP.TOTL,2010,1.337705e+09
11142244,China,CHN,"Population, total",SP.POP.TOTL,2011,1.345035e+09
11535392,China,CHN,"Population, total",SP.POP.TOTL,2012,1.354190e+09
11928540,China,CHN,"Population, total",SP.POP.TOTL,2013,1.363240e+09
12321688,China,CHN,"Population, total",SP.POP.TOTL,2014,1.371860e+09
12714836,China,CHN,"Population, total",SP.POP.TOTL,2015,1.379860e+09
13107984,China,CHN,"Population, total",SP.POP.TOTL,2016,1.387790e+09
13501132,China,CHN,"Population, total",SP.POP.TOTL,2017,1.396215e+09
13894280,China,CHN,"Population, total",SP.POP.TOTL,2018,1.402760e+09
14287428,China,CHN,"Population, total",SP.POP.TOTL,2019,1.407745e+09
14680576,China,CHN,"Population, total",SP.POP.TOTL,2020,1.411100e+09
15073724,China,CHN,"Population, total",SP.POP.TOTL,2021,1.412360e+09

In [6]:
column_sum = filtered_df['Value'].sum()

In [7]:
column_sum/1000000

49008.41

In [8]:
tf_pivoted=pd.read_csv("C:/Users/HP/Desktop/TestBDA/data/WDI_FINAL_TRANSFORMED.csv", header=0, index_col=None)

In [9]:
tf_pivoted.dtypes

Country_Name       object
Country_Code       object
Indicator_Name     object
Indicator_Code     object
Year                int64
Value             float64
dtype: object

In [11]:
tf_pivoted['Indicator_Name']

0           Access to clean fuels and technologies for coo...
1           Access to clean fuels and technologies for coo...
2           Access to clean fuels and technologies for coo...
3                     Access to electricity (% of population)
4           Access to electricity, rural (% of rural popul...
                                  ...
15332767    Women who believe a husband is justified in be...
15332768    Women who were first married by age 15 (% of w...
15332769    Women who were first married by age 18 (% of w...
15332770    Women's share of population ages 15+ living wi...
15332771    Young people (ages 15-24) newly infected with HIV
Name: Indicator_Name, Length: 15332772, dtype: object

In [13]:
tf_pivoted['Indicator_Name'] = tf_pivoted['Indicator_Name'].str.replace(',', '')

In [14]:
tf_pivoted['Indicator_Name'].nunique()

1478

In [15]:
tf_pivoted['Indicator_Name'].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to clean fuels and technologies for cooking rural (% of rural population)',
       'Access to clean fuels and technologies for cooking urban (% of urban population)',
       ...,
       'Women who were first married by age 18 (% of women ages 20-24)',
       "Women's share of population ages 15+ living with HIV (%)",
       'Young people (ages 15-24) newly infected with HIV'], dtype=object)

In [17]:
tf_pivoted.to_csv('C:/Users/HP/Desktop/TestBDA/data/WDI_FINAL_TRANSFORMED2.csv', index=False)

In [18]:
tf_pivoted

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Value
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1983,1.099323e+12
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,1983,1.099323e+12
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,1983,1.099323e+12
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1983,1.099323e+12
4,Africa Eastern and Southern,AFE,Access to electricity rural (% of rural popula...,EG.ELC.ACCS.RU.ZS,1983,1.099323e+12
...,...,...,...,...,...,...
15332767,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,2021,9.594001e+12
15332768,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,2021,9.594001e+12
15332769,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,2021,9.594001e+12
15332770,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,2021,6.070000e+01
15332771,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,2021,6.800000e+03

In [22]:
#Load the indicators csv
#Put the csv into a list
#Load all values from the main file based on the indicators
#Select countries and then load
#Make a final csv

In [23]:
final=pd.read_csv("C:/Users/HP/Desktop/TestBDA/data/FINAL/WDI_FINAL_TRANSFORMED2.csv", header=0, index_col=None)

In [25]:
indicators=pd.read_csv("C:/Users/HP/Desktop/TestBDA/data/FINAL/indicators.csv", header=0, index_col=None)

In [28]:
indicators['Indicator_Code'].nunique()

34

In [30]:
final_indicators = indicators['Indicator_Code'].unique().tolist()

In [31]:
final_indicators

['SP.POP.TOTL',
 'SP.POP.TOTL.FE.IN',
 'SP.POP.TOTL.MA.IN',
 'SP.DYN.CBRT.IN',
 'SP.DYN.CDRT.IN',
 'SP.DYN.LE00.IN',
 'SP.POP.GROW',
 'IQ.CPA.GNDR.XQ',
 'SH.XPD.CHEX.GD.ZS',
 'SL.EMP.1524.SP.NE.ZS',
 'SE.ADT.LITR.ZS',
 'EG.ELC.ACCS.ZS',
 'SL.UEM.TOTL.NE.ZS',
 'SL.UEM.1524.NE.ZS',
 'NY.ADJ.NNTY.KD.ZG',
 'FM.LBL.BMNY.GD.ZS',
 'GC.DOD.TOTL.GD.ZS',
 'GC.DOD.TOTL.CN',
 'BN.CAB.XOKA.GD.ZS',
 'GC.XPN.TOTL.GD.ZS',
 'GC.XPN.TOTL.CN',
 'EG.USE.COMM.FO.ZS',
 'NY.GDP.MKTP.KD.ZG',
 'GC.TAX.TOTL.GD.ZS',
 'NY.GNS.ICTR.ZS',
 'FP.CPI.TOTL.ZG',
 'NY.GSR.NFCY.CD',
 'NY.ADJ.AEDU.CD',
 'SE.SEC.UNER.LO.ZS',
 'SL.TLF.0714.ZS',
 'SE.PRM.UNER.ZS',
 'SE.COM.DURS',
 'SE.TER.CUAT.BA.ZS',
 'SE.XPD.TOTL.GD.ZS']

In [32]:
final

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Value
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,1983,1.099323e+12
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,1983,1.099323e+12
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,1983,1.099323e+12
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1983,1.099323e+12
4,Africa Eastern and Southern,AFE,Access to electricity rural (% of rural popula...,EG.ELC.ACCS.RU.ZS,1983,1.099323e+12
...,...,...,...,...,...,...
15332767,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,2021,9.594001e+12
15332768,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,2021,9.594001e+12
15332769,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,2021,9.594001e+12
15332770,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,2021,6.070000e+01
15332771,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,2021,6.800000e+03

In [37]:
new_df = final[final['Indicator_Code'].isin(final_indicators)]

In [39]:
new_df

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,Year,Value
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,1983,1.099323e+12
22,Africa Eastern and Southern,AFE,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,1983,1.099323e+12
37,Africa Eastern and Southern,AFE,Adjusted savings: education expenditure (curre...,NY.ADJ.AEDU.CD,1983,1.099323e+12
51,Africa Eastern and Southern,AFE,Adolescents out of school (% of lower secondar...,SE.SEC.UNER.LO.ZS,1983,1.099323e+12
122,Africa Eastern and Southern,AFE,Birth rate crude (per 1000 people),SP.DYN.CBRT.IN,1983,4.613473e+01
...,...,...,...,...,...,...
15332372,Zimbabwe,ZWE,Population male,SP.POP.TOTL.MA.IN,2021,7.543690e+06
15332374,Zimbabwe,ZWE,Population total,SP.POP.TOTL,2021,1.599352e+07
15332628,Zimbabwe,ZWE,Tax revenue (% of GDP),GC.TAX.TOTL.GD.ZS,2021,9.594001e+12
15332725,Zimbabwe,ZWE,Unemployment total (% of total labor force) (n...,SL.UEM.TOTL.NE.ZS,2021,9.540000e+00
15332731,Zimbabwe,ZWE,Unemployment youth total (% of total labor for...,SL.UEM.1524.NE.ZS,2021,1.547000e+01

In [42]:
new_df['Indicator_Code'].value_counts()

EG.ELC.ACCS.ZS          10374
SE.ADT.LITR.ZS          10374
EG.USE.COMM.FO.ZS       10374
NY.GDP.MKTP.KD.ZG       10374
SE.XPD.TOTL.GD.ZS       10374
NY.GNS.ICTR.ZS          10374
FP.CPI.TOTL.ZG          10374
SP.DYN.LE00.IN          10374
NY.GSR.NFCY.CD          10374
NY.ADJ.NNTY.KD.ZG       10374
SP.POP.GROW             10374
SP.POP.TOTL.FE.IN       10374
SP.POP.TOTL.MA.IN       10374
SP.POP.TOTL             10374
GC.TAX.TOTL.GD.ZS       10374
SL.UEM.TOTL.NE.ZS       10374
GC.XPN.TOTL.CN          10374
GC.XPN.TOTL.GD.ZS       10374
SL.EMP.1524.SP.NE.ZS    10374
SE.TER.CUAT.BA.ZS       10374
SP.DYN.CDRT.IN          10374
SH.XPD.CHEX.GD.ZS       10374
BN.CAB.XOKA.GD.ZS       10374
IQ.CPA.GNDR.XQ          10374
SE.COM.DURS             10374
SE.PRM.UNER.ZS          10374
SL.TLF.0714.ZS          10374
GC.DOD.TOTL.CN          10374
GC.DOD.TOTL.GD.ZS       10374
FM.LBL.BMNY.GD.ZS       10374
SP.DYN.CBRT.IN          10374
SE.SEC.UNER.LO.ZS       10374
NY.ADJ.AEDU.CD          10374
SL.UEM.1524.NE.ZS       10374
Name: Indicator_Code, dtype: int64

In [44]:
new_df = new_df.drop('Indicator_Name', axis=1)

In [45]:
new_df

,Country_Name,Country_Code,Indicator_Code,Year,Value
3,Africa Eastern and Southern,AFE,EG.ELC.ACCS.ZS,1983,1.099323e+12
22,Africa Eastern and Southern,AFE,NY.ADJ.NNTY.KD.ZG,1983,1.099323e+12
37,Africa Eastern and Southern,AFE,NY.ADJ.AEDU.CD,1983,1.099323e+12
51,Africa Eastern and Southern,AFE,SE.SEC.UNER.LO.ZS,1983,1.099323e+12
122,Africa Eastern and Southern,AFE,SP.DYN.CBRT.IN,1983,4.613473e+01
...,...,...,...,...,...
15332372,Zimbabwe,ZWE,SP.POP.TOTL.MA.IN,2021,7.543690e+06
15332374,Zimbabwe,ZWE,SP.POP.TOTL,2021,1.599352e+07
15332628,Zimbabwe,ZWE,GC.TAX.TOTL.GD.ZS,2021,9.594001e+12
15332725,Zimbabwe,ZWE,SL.UEM.TOTL.NE.ZS,2021,9.540000e+00
15332731,Zimbabwe,ZWE,SL.UEM.1524.NE.ZS,2021,1.547000e+01

In [46]:
new_df.to_csv('C:/Users/HP/Desktop/TestBDA/data/FINAL/FINAL.csv', index=False)

USA-CHN-IND-PAK-BGD-KOR-JPN-ARE-RUS-